* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    position: relative;
}

h1 {
    background-color: green;
}

ul {
    display: flex;
    font-size: 20px;
    gap: 25px;
    transition: 0.6s;
}

button {
    background-color: transparent;
    padding: 10px 25px;
    border: 2px solid khaki;
    border-radius: 20px;
}

#menu {
    display: none;
}

#menu:checked + ul {
    transform: translate(0);
    box-shadow: 300px 0 rgba(161, 159, 159, 0.634);
}

label {
    display: none;
}

@media (max-width: 700px) {
    label {
        display: block;
    }
    .nav ul {
        height: calc(100vh - 80px);
        width: 100%;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: green;
        transform: translateY(-110%);
    }
}