*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: black;
}

.nav{
    width: 98vw;
    background-color:#2d394b;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
    & .navv{
        display: flex;align-items: center;
        justify-content: space-between;
        & input{
            display: none;
            &:checked ~ ul{
                transform: translate(0);
            }
        }
        & label{
            display: none;
        }
        &__ul{
            display: flex;align-items: center;gap: 30px;
            font-size: 23px;
            & li a{
                color: white;
            }
            & li a:hover{
                color: red;
            }
        }

    }
}
.showcese{
    width: 100vw;
    height: 100vh;
    &__ul{
        width: 100%;
    }
}
.about{
    background-color:#2c2d2e;
    margin: 0;
    .container{
        display: flex;
        flex-direction: column; align-items: center;
        padding: 5rem 0;
        & span i{
            font-size: 90px;
            color: white;
        }
        & h1{
            font-size: 90px;
            color: white;
        }
        & p{
            width: 70%;
            font-size: 22px;
            color: #797e85;
        }
        & a{
            padding: 1rem 3rem;
            background-color: red;
            &:hover{
                background-color:#2c2d2e ;
                transition: 1s;
            }
        }
        
    }
}
.mator{
    display: flex;
    background-color: red;
    &__img{
        width: 50%;
        height: 800px;
    }
    &__img img{
        width: 100%;
        height: 100%;
    }
    &__text{
        width: 50%;
    .container{
        display: flex;
        flex-direction: column; align-items: center;
        padding: 5rem 0;
        & span i{
            font-size: 90px;
            color: white;
        }
        & h1{
            font-size: 90px;
            color: white;
        }
        & p{
            width: 70%;
            font-size: 22px;
            color:whitesmoke;
        }
        & a{
            padding: 1rem 3rem;
            background-color:white;
            &:hover{
                background-color:#2c2d2e ;
                transition: 1s;
                color: white;
            }
        }
        
    }     
   }
}

.salon{
    display: flex;
    background-color:#2c2d2e;
    &__img{
        width: 50%;
        height: 800px;
    }
    &__img img{
        width: 100%;
        height: 100%;
    }
    &__text{
        width: 50%;
    .container{
        display: flex;
        flex-direction: column; align-items: center;
        padding: 5rem 0;
        & span i{
            font-size: 90px;
            color: white;
        }
        & h1{
            font-size: 90px;
            color: white;
        }
        & p{
            width: 70%;
            font-size: 22px;
            color:whitesmoke;
        }
        & a{
            margin-top: 20px;
            padding: 1rem 3rem;
            background-color:#2d394b;
            color: white;
            &:hover{
                background-color:#2c2d2e ;
                transition: 1s;
                background-color:red;
            }
        }
        
    }     
   }
}
.sarlavha{
    & h1{
        font-size: 90px;
        text-align: center;
        padding: 4rem 0;
    }
}
.container1{
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
    & .kartalar{
        display: grid;grid-template-columns: 1fr 1fr;gap: 50px; row-gap: 50px;
        & .karta{
            display: flex;gap:20px;
            &__matn{
                width: 70%;
                & h1:hover{
                    color: red;
                }
            }
            &__rasm {
                width: 20%;
            }
            &__matn1{
                width: 70%;
                & h1:hover{
                    color: red;
                }
                text-align: end;
            }
            &__rasm img{
                width: 100%;
            }
        }
    }
}
.btn{
    text-align: center;
    padding: 5rem 0;
    & a{
        padding: 1rem 3rem;
        background-color:#2d394b;
        color: white;
        &:hover{
            background-color:#2c2d2e ;
            transition: 1s;
            background-color:red;
        }
    }
}
.monitor{
    background-image:url(./../media/moshina.jpg);
    .container2{
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
        & .sarlavha2{
            text-align: center;
            padding: 5rem 0;
            & p{
                font-size: 90px;
                color: white;
            }
            & h1{
              
                color: white;
                font-size: 90px;
            }
        }
        & .kartalarr{
            padding-bottom: 4rem;
            display: grid;grid-template-columns: 1fr 1fr;gap: 50px; row-gap: 50px;
            & .karta{
                display: flex;gap:20px; align-items: center;
                &__matn{
                    width: 70%;
                    color: white;
                    background-color: #2d394b61;
                    padding: 0.7rem;
                }
                &__matn:hover{
                    background-color: red;
                    color: white;
                }
                &__rasm {
                    width: 35%;
                    height: 210px;
                }
                &__matn1{
                    color: white;
                    width: 70%;
                    text-align:start;
                    padding: 0.7rem;
                    background-color: #2d394b61;
                }
                &__matn1:hover{
                    background-color: red;
                    color: white;
                }
                &__rasm img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.footertop{
    & .sarlavha3{
        text-align: center;
        padding-top: 3rem;
        & h1{
            font-size: 90px;
        }
        & p{
            font-size: 90px;
        }
        & .karta{
            width: 50%;
            text-align: center;
            &__kart{
                text-align: center;
            }
        }
    }
}
.footer{
    background-image: url(./../media/moshina.jpg);
    & .container4{
        display: flex; flex-direction: column; row-gap: 30px; align-items: center;
        & .yozuv p{
            font-size: 90px;
        }
        & .yozuv{
            text-align: center;
        }
        & .yozuv h1{
            font-size: 90px;
        }
        & .adres{
           font-size: 23px; 
        }
        & .tel{
            display: flex;align-items: center;gap: 30px;
        }
        & .ficon{
            display: flex;gap: 30px;
        }
        & .ficon a{
            font-size: 60px;
            color: red;
        }
        & .ficon a:hover{
            color: #2d394b;
        }
    }
}























@media(max-width:950px){
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
        & .navv{
            display: flex;align-items: center;
            justify-content: space-between;
            position: relative;
            & input{
                display: none;
            }
            & label{
                display: none;
            }
            &__ul{
                display: flex;align-items: center;gap: 15px;
                font-size: 20px;
            }
            &__right{
                display: flex;align-items: center;gap: 20px;
                font-size: 20px;
            }
    
        }
    }
}

@media(max-width:800px){
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
        & .navv{
            display: flex;align-items: center;
            justify-content: space-between;
            position: relative;
            & input{
                display: none;
            }
            & label{
                display: block;
            }
            & #menyu{
                font-size: 30px;
                color: black;
            }
            &__ul{
               position: absolute;
               top: 100%;
               margin: 0;
               left: 0;
               width: 100%;
               height: calc(100vh - 75px);
               background-color: rgba(19, 172, 199, 0.25);
               display: flex;flex-direction: column;row-gap: 20px;align-items: center;justify-content: center;
               transform: translateY(-120%);
               transition: 0.5s;
            }
            &__right{
                display: flex;align-items: center;gap: 20px;
                font-size: 20px;
            }
    
        }
    }
}