*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: red;
    background-color: green;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.cards{
    margin-top: 100px;
}

.card {
    background-color: lightblue;
    width: 300px;
    position: relative;
    margin-left: 50px;
    border: 5px solid red;
}

.card img {
    width: 100%;
}

.card .text {
    padding: 30px;
}
.card button {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 5px 10px;
}
span {
    background-color: yellow;
    position: sticky;
    top: 300px;
}