@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    margin: 0;
    padding: 0;
}