div {
    background-color: pink;
    color: white;
}
h3 {
    background-color: red;
}
u {
    background-color: aqua;
    color: red;
}
.gray {
    background-color: gray;
    color: blue;
}
.yellow {
    background-color: yellow;
    color: green;
}

h2 {
    color: chocolate;
}

#red {
    color: red;
}
[inputgreen] {
    background-color: green;
}
[inputblue] {
    background-color: blue;
}