*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 90vw;
    height: 300vh;
    margin: 0 auto;
    /* background-color: #F06807; */
    position: relative;
    top: 60px;
}

header {
    width: 100vw;
    height: 60px;
    background-color: #F6F7F1;
    position: fixed;
    z-index: 1;
}

header .rasm {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 150px;
    top: 25px;
}

header .headerright{
    position: absolute;
    /* background-color: rgb(22, 223, 89); */
    width: 60%;
    height: 80px;
    left: 40%;
    /* right: 0px; */
}

header .headerright .nav1 {
    background-color: aqua;
    position: absolute;
    /* right: 150px; */
    width: 70%;
}

header .headerright .nav1 ul{
    /* background-color: blue; */
    position: absolute;
    right: 0;
    top: 20px;
    /* display: inline-block; */
}

header .headerright .nav1 li{
    /* background-color: violet; */
    display: inline-block;
    /* text-decoration: none; */
    padding: 0 20px;
}

header .headerright .nav1 li a{
    color: #1F1E1E;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 12px;
}


header .headerright .nav2 {
    /* background-color: yellow; */
    position: absolute;
    top: 20px;
    right: 27%;
}

header .headerright .nav2 .nol {
    position: absolute;
    top: -8px;
    left: 11px;
}


/* header section end */

.container .shop1 {
    position: relative;
    width: 100%;
    height: 90vh;
    top: 0;
    /* height: 300px; */
    /* background-color: rgb(89, 91, 87); */
    background-image: url('../media/shop1.svg');
    background-size: cover;
    background-position: left bottom;
}

.container .shop1 .shop1text {
    position: absolute;
    width: 50%;
    height: 720px;
    color: white;
    font-family: 'Roboto';
    /* background-color: brown; */
    top: 0;
    text-align: center;
}

.container .shop1 .shop1text p {
    position: absolute;
    left: 34%;
    top: 38%;
    font-size: 12px;
    text-transform: uppercase;
}

.container .shop1 .shop1text h1 {
    position: absolute;
    left: 15%;
    top: 40%;
    /* font-family: 'Roboto'; */
    font-size: 56px;
}

.container .shop1 .shop1button {
    position: absolute;
    width: 15%;
    height: 5%;
    background-color: #1F1E1E;
    left: 18%;
    top: 83%;
    text-align: center;
    border-radius: 5px;
    font-family: 'Roboto';
}

.container .shop1 .shop1button button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #1F1E1E;
    font-weight: 200;
    font-size: 12px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

/* shop1 end */

.container .tekisla {
    position: relative;
    /* background-color: rgb(38, 179, 214); */
    width: 100%;
    height: 25%;
    top: 10px;
}
.container .tekisla .shop2 {
    position: absolute;
    width: 49.5%;
    height: 100%;
    /* right: 3px; */
    background-image: url('../media/shop2.svg');
    background-size: cover;
    background-position: left bottom;
}

.container .tekisla .shop2 .new,
.container .tekisla .shop3 .new
 {
    position: absolute;
    left: 6%;
    top: 80%;
    font-size: 35px;
    color: white;
    font-weight: 400;
    font-family: 'Roboto';
}

.container .tekisla .shop2 .chiziq,
.container .tekisla .shop3 .chiziq {
    width: 88%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.354);
    position: absolute;
    left: 5%;
    bottom: 10%;
}

.container .tekisla .shop2 .now,
.container .tekisla .shop3 .now
{
    position: absolute;
    left: 6%;
    top: 90%;
    color: white;
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 13px;
    text-transform: uppercase;
}

.container .tekisla .shop3 {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-image: url('../media/shop3.svg');
    background-size: cover;
    background-position: left bottom;
}

/* shop section end */

.container .dorinomi {
    width: 100%;
    height: 110vh;
    position: relative;
    /* background-color: rgb(154, 17, 17); */
}

.container .dorinomi h2 {
    color: #1F1E1E;
    display: inline-block;
    width: 70%;
    height: 17%;
    margin-left: 15%;
    margin-top: 7%;
    font-family: 'Roboto';
    font-size: 30px;
}

.container .dorinomi .doriquti {
    width: 80vw;
    /* background-color: aqua; */
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 40px;
}

.container .dorinomi .doriquti::before {
    content: '';
    height: 1px;
    position: absolute;
    top: 0;
    background-color: #0000001F;
    right: 0; 
    left: 0;
}

.container .dorinomi .doriquti::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #0000001F;
    right: 0; 
    left: 0;
}

.container .dorinomi .doriquti .information {
    width: 30%;
    position: relative;
    /* background-color: yellow; */
    margin: 2% 1%;
    display: inline-block;
    vertical-align: middle;
}

.container .dorinomi .doriquti .information h5 {
    text-transform: uppercase;
}

.container .dorinomi .doriquti .information:nth-child(2)::before {
    content: '';
    width: 1px;
    height: 120%;
    position: absolute;
    background-color: #0000001F;
    left: -8%;
    top: -10%;
}

.container .dorinomi .doriquti .information:nth-child(2)::after {
    content: '';
    width: 1px;
    height: 120%;
    position: absolute;
    background-color: #0000001F;
    top: -10%;
    right: -5%;
    bottom: 0;
}

/* dori section end */

/* dorilar */

.container .dorilar {
    /* margin: 50px auto; */
    /* margin-top: 300px; */
    width: 100%;
}

.container .dorilar .dori {
    width: 32%;
    /* height: 520px; */
    display: inline-block;
    background-color: #E5E5E5;
}
.container .dorilar .dori hand {
    display: inline-block;
    width: 100%;
}

.container .dorilar .dori .nomi{
    display: inline-block;
} 

.container .dorilar .dori .nomi h2 {
    width: 212px;
    height: 22px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    color: #1F1E1E;
    display: inline-block;
     
}

.container .dorilar .dori .hard .rubl {
    height: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #1F1E1E;
    padding-left: 110px;
    display: inline-block;
}


/* card-1 */

.container .cards {
    width: 100%;
    display: inline-block;
}

.container .cards .card-1 {
    width: 100%;
}

.container .cards .card-1 .box-1 {
    display: inline-block;
    /* background-color: blue; */
    width: 25%;
    vertical-align: top;
}

.container .cards .card-1 .box-1 h2 {
    font-size: 40px;
    font-family: 'Roboto';
    color: #1F1E1E;
    display: inline-block;
    width: 70%;
    font-weight: 400;
}

.container .cards .card-1 .box-1 p {
    font-size: 20px;
    padding: 50px 0;
    font-family: 'Roboto';
    color: #1F1E1E;
    display: inline-block;
    width: 100%;
}

.container .cards .card-1 .box-2 {
    display: inline-block;
    margin-left: 20%;
    width: 50%;
    padding-top: 3rem;
    /* height: 200px; */
    /* vertical-align: middle; */
    /* background-color: rgb(15, 16, 16); */
}

.container .cards .card-1 .box-2 .left {
    display: inline-block;
    width: 49%;
    position: relative;
}

/* .container .cards .card-1 .box-2 .left .card-1-img {
    display: inline-block;
    height: 100%;
} */

.container .cards .card-1 .box-2 .left .bir {
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.container .cards .card-1 .box-2 .right {
    display: inline-block;
    width: 50%;
    height: 100%;
    /* background-color: rgb(222, 5, 175); */
    vertical-align:top;
}


.container .cards .card-1 .box-2 .right .use {
    width: 50%;
    /* height: 300px; */
    /* background-color: yellow; */
    font-family: 'Roboto';
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    /* margin-top: 0; */
    padding: 8rem 0;
}

/* card-2 */

.container .cards .card-2 {
    width: 100%;
    /* display: inline-block; */
    /* background-color: yellow; */
}

.container .cards .card-2 .box-3 .ikki {
    margin: 50px;
}

/* dorilar section end */


.container .fingertips {
    width: 100%;
}

.container .fingertips h2 {
    display: inline-block;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 53px;
    margin-bottom: 3%;
}

.container .fingertips .finimage {
    display: inline-block;
    background-color: #B6ACA9;
    width: 100%;
    /* margin-left: 6%; */
}

.container .fingertips .finimage img{
    display: inline-block;
    width: 55%;
    margin-left: 7%;
    margin-bottom: -10%;
}

.container .fingertips .finimage .fingerright {
    display: inline-block;
    width: 26%;
    margin-left: 6%;
    margin-bottom: 5%;
}

.container .fingertips .finimage .fingerright button {
    width: 150px;
    height: 40px;
    display: inline-block;
    margin-top: 5%;
    color: white;
    background-color: #1F1E1E;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

.container .fingertips .havequestions {
    width: 100%;
    /* background-color: tomato; */
    margin-top: 9%;
}

.container .fingertips .havequestions .yourchiziq {
    display: inline-block;
    width: 10%;
    height: 1px;
    background-color: #1F1E1E;
}

.container .fingertips .havequestions p {
    display: inline-block;
}

.container .fingertips .havequestions h1{
    margin-top: 2%;
    font-weight: 100;
}