*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.houses{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:    'gal-1  gal-1  gal-2  gal-2  gal-2  gal-3  gal-4  gal-4'
                            'gal-1  gal-1  gal-2  gal-2  gal-2  gal-3  gal-4  gal-4'
                            'gal-5  gal-5  gal-2  gal-2  gal-2  gal-8  gal-8  gal-9'
                            'gal-5  gal-5  gal-6  gal-6  gal-7  gal-8  gal-8  gal-9'
                            'gal-5  gal-5  gal-6  gal-6  gal-13 gal-13 gal-13 gal-9'
                            'gal-10 gal-11 gal-11 gal-12 gal-13 gal-13 gal-13 gal-14'
                            'gal-10 gal-11 gal-11 gal-12 gal-13 gal-13 gal-13 gal-14';
    gap: 10px;
}

.home1 {
    grid-area: gal-1;
}

.home2 {
    grid-area: gal-2;
}

.home3 {
    grid-area: gal-3;
}

.home4 {
    grid-area: gal-4;
}

.home5 {
    grid-area: gal-5;
}

.home6 {
    grid-area: gal-6;
}

.home7 {
    grid-area: gal-7;
}

.home8 {
    grid-area: gal-8;
}

.home9 {
    grid-area: gal-9;
}

.home10 {
    grid-area: gal-10;
}

.home11 {
    grid-area: gal-11;
}

.home12 {
    grid-area: gal-12;
}

.home13 {
    grid-area: gal-13;
}

.home14 {
    grid-area: gal-14;
}