*{
    box-sizing: border-box;
}
#div1 {
    background-image: linear-gradient(to right, lightblue, lightgreen);
    margin-bottom: 60px;
}

#div2 {
    background-color: khaki;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 350px;
    display: inline-block;
    margin: 30px;
}

#rasm {
    height: 215px; 
    background-image: url('../media/tesla.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#div3 {
    padding: 0 25px;
    word-spacing: 0;
}

h1{
    text-align: left;
    letter-spacing: 5px;
}

#qizil {
    color: red;
}

#kok {
    color: blue;
}

button {
    padding: 10px 25px;
    background-color: aqua;
    margin-bottom: 30px;
}
