.cart-container {
  padding: 10px;
  .main_cart {
    .cart_item {
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 20px 0;
      .cart_img {
        img {
          width: 400px;
          height: 300px;
          border-radius: 4px;
          object-fit: cover;
        }
      }

      .cart_content {
        p {
          color: #787a80;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 25px;
          margin: 10px 0;
        }
      }
    }
  }
}
